[15 days of learning SQL Challenge on Hackerrank](https://www.hackerrank.com/challenges/15-days-of-learning-sql/problem)

**Week 2 SQL Problem Hackerrank**

Julia conducted a 15 days of learning SQL contest. The start date of the contest was March 01, 2016 and the end date was March 15, 2016. 

days of learning SQL contest. The start date of the contest was March 01, 2016 and the end date was March 15, 2016.

Write a query to print total number of unique hackers who made at least 1
submission each day (starting on the first day of the contest), and find the hacker_id and name of the hacker who made maximum number of submissions each day. If more than one such hacker has a maximum number of submissions, print the lowest hacker_id. The query should print this information for each day of the contest, sorted by the date.

In [ ]:
query = """
select y.submission_date,
    (select count(hc.hacker_id) from (
    select hacker_id,count(distinct submission_date) as subs from submissions 
    where submission_date<=y.submission_date
    group by hacker_id
    having count(distinct submission_date)=day(y.submission_date)) as hc),
(select top 1 si.hacker_id from submissions si where si.submission_date=y.submission_date group by si.hacker_id order by count(*) desc,si.hacker_id),
(select top 1 h.name from submissions si join hackers h on h.hacker_id=si.hacker_id where si.submission_date=y.submission_date group by si.hacker_id,h.name order by count(*) desc,si.hacker_id) 
from submissions y
group by y.submission_date
order by y.submission_date
"""